@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 80%;
}

/* Shared Styles */

.btn-primary {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 15px 22px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: rgb(255, 255, 255);
}

.descriptions {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-header {
    max-width: 80%;
    margin: auto;
}


/* Nav Styles */
nav {
    margin: 50px 150px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-title {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
}

/* Banner Section Styles */
.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('../assets/Hero-bg.png');
    padding-top: 30px;
    margin-bottom: 75px;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    width: 60%;
    margin: 32px auto 24px;
}

.banner>p {
    width: 50%;
    margin: auto;
}

.btn-contact {
    width: 244px;
    height: 65px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    margin: 32px auto 45px;
}

/* Why Web Development Section Styles */
.dev-motive {
    padding: 80px 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
}

.dev-motive-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 120px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
}

.dev-motive-subtitle {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.motive-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    max-width: 55%;
}

.motive-content>button {
    width: 170px;
}